HW3.pdf
.vscode/settings.json
code/_DO_NOT_SUBMIT_datasketch.py
code/commands.txt
data/business_avg.json
data/stopwords
data/test_review_ratings.json
data/test_review.json
data/train_review.json
data/user_avg.json
code/_DO_NOT_SUBMIT_PearsonTest.py
code/_DO_NOT_SUBMIT_ItemPredTest.py
hw3/build.sbt
hw3/.bsp/sbt.json
hw3/.idea/.gitignore
hw3/.idea/misc.xml
hw3/.idea/modules.xml
hw3/.idea/sbt.xml
hw3/.idea/scala_compiler.xml
hw3/.idea/vcs.xml
hw3/.idea/artifacts/hw3_jar.xml
hw3/.idea/codeStyles/codeStyleConfig.xml
hw3/.idea/codeStyles/Project.xml
hw3/.idea/libraries/jars.xml
hw3/.idea/libraries/sbt__org_scala_lang_scala_library_2_11_8_jar.xml
hw3/.idea/modules/hw3-build.iml
hw3/.idea/modules/hw3.iml
hw3/out/artifacts/hw3_jar/hw3.jar
hw3/project/build.properties
hw3/project/META-INF/MANIFEST.MF
hw3/project/target/config-classes/$4d119edef185e819087a.cache
hw3/project/target/config-classes/$4d119edef185e819087a.class
hw3/project/target/config-classes/$4d119edef185e819087a$.class
hw3/project/target/config-classes/$05bcd8cf29ec4e5c0698.cache
hw3/project/target/config-classes/$05bcd8cf29ec4e5c0698.class
hw3/project/target/config-classes/$05bcd8cf29ec4e5c0698$.class
hw3/project/target/config-classes/$80c3a68795b49b9591ea.cache
hw3/project/target/config-classes/$80c3a68795b49b9591ea.class
hw3/project/target/config-classes/$80c3a68795b49b9591ea$.class
hw3/project/target/config-classes/$95b7ff25300fd74a6ecc.cache
hw3/project/target/config-classes/$95b7ff25300fd74a6ecc.class
hw3/project/target/config-classes/$95b7ff25300fd74a6ecc$.class
hw3/project/target/scala-2.12/sbt-1.0/update/update_cache_2.12/inputs
hw3/project/target/scala-2.12/sbt-1.0/update/update_cache_2.12/output
hw3/project/target/streams/_global/_global/_global/streams/out
hw3/project/target/streams/_global/_global/csrLogger/_global/streams/out
hw3/project/target/streams/_global/csrConfiguration/_global/streams/out
hw3/project/target/streams/_global/csrProject/_global/streams/out
hw3/project/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/input_dsp
hw3/project/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/output_dsp
hw3/project/target/streams/_global/ivyConfiguration/_global/streams/out
hw3/project/target/streams/_global/ivySbt/_global/streams/out
hw3/project/target/streams/_global/moduleSettings/_global/streams/out
hw3/project/target/streams/_global/projectDescriptors/_global/streams/out
hw3/project/target/streams/_global/scalaCompilerBridgeScope/_global/streams/out
hw3/project/target/streams/_global/update/_global/streams/out
hw3/project/target/streams/compile/_global/_global/compileOutputs/previous
hw3/project/target/streams/compile/_global/_global/discoveredMainClasses/data
hw3/project/target/streams/compile/bspReporter/_global/streams/out
hw3/project/target/streams/compile/compile/_global/streams/out
hw3/project/target/streams/compile/compileIncremental/_global/streams/export
hw3/project/target/streams/compile/compileIncremental/_global/streams/out
hw3/project/target/streams/compile/copyResources/_global/streams/copy-resources
hw3/project/target/streams/compile/copyResources/_global/streams/out
hw3/project/target/streams/compile/dependencyClasspath/_global/streams/export
hw3/project/target/streams/compile/exportedProducts/_global/streams/export
hw3/project/target/streams/compile/externalDependencyClasspath/_global/streams/export
hw3/project/target/streams/compile/incOptions/_global/streams/out
hw3/project/target/streams/compile/internalDependencyClasspath/_global/streams/export
hw3/project/target/streams/compile/internalDependencyClasspath/_global/streams/out
hw3/project/target/streams/compile/managedClasspath/_global/streams/export
hw3/project/target/streams/compile/scalacOptions/_global/streams/out
hw3/project/target/streams/compile/unmanagedClasspath/_global/streams/export
hw3/project/target/streams/compile/unmanagedClasspath/_global/streams/out
hw3/project/target/streams/compile/unmanagedJars/_global/streams/export
hw3/project/target/streams/runtime/dependencyClasspath/_global/streams/export
hw3/project/target/streams/runtime/exportedProducts/_global/streams/export
hw3/project/target/streams/runtime/externalDependencyClasspath/_global/streams/export
hw3/project/target/streams/runtime/fullClasspath/_global/streams/export
hw3/project/target/streams/runtime/internalDependencyClasspath/_global/streams/export
hw3/project/target/streams/runtime/internalDependencyClasspath/_global/streams/out
hw3/project/target/streams/runtime/managedClasspath/_global/streams/export
hw3/project/target/streams/runtime/unmanagedClasspath/_global/streams/export
hw3/project/target/streams/runtime/unmanagedClasspath/_global/streams/out
hw3/project/target/streams/runtime/unmanagedJars/_global/streams/export
hw3/target/.history3
hw3/target/scala-2.11/classes/task1.class
hw3/target/scala-2.11/classes/task1$.class
hw3/target/scala-2.11/classes/task1$$anonfun$1.class
hw3/target/scala-2.11/classes/task1$$anonfun$2.class
hw3/target/scala-2.11/classes/task1$$anonfun$3.class
hw3/target/scala-2.11/classes/task1$$anonfun$4.class
hw3/target/scala-2.11/classes/task1$$anonfun$5.class
hw3/target/scala-2.11/classes/task1$$anonfun$genHashFns$1.class
hw3/target/scala-2.11/classes/task1$$anonfun$genSignatures$1.class
hw3/target/scala-2.11/classes/task1$$anonfun$genSignatures$1$$anonfun$apply$1.class
hw3/target/scala-2.11/classes/task1$$anonfun$main$1.class
hw3/target/scala-2.11/classes/task1$$anonfun$main$1$$anonfun$apply$mcVI$sp$1.class
hw3/target/scala-2.11/classes/task1$$anonfun$main$1$$anonfun$apply$mcVI$sp$2.class
hw3/target/scala-2.11/classes/task1$$anonfun$main$1$$anonfun$apply$mcVI$sp$2$$anonfun$apply$2.class
hw3/target/scala-2.11/classes/task1$$anonfun$main$2.class
hw3/target/scala-2.11/classes/task1$$anonfun$writeData$1.class
hw3/target/scala-2.11/update/update_cache_2.11/inputs
hw3/target/scala-2.11/update/update_cache_2.11/output
hw3/target/streams/_global/_global/csrLogger/_global/streams/out
hw3/target/streams/_global/_global/dumpStructure/_global/streams/out
hw3/target/streams/_global/csrConfiguration/_global/streams/out
hw3/target/streams/_global/csrProject/_global/streams/out
hw3/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.11/input_dsp
hw3/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.11/output_dsp
hw3/target/streams/_global/ivyConfiguration/_global/streams/out
hw3/target/streams/_global/ivySbt/_global/streams/out
hw3/target/streams/_global/moduleSettings/_global/streams/out
hw3/target/streams/_global/projectDescriptors/_global/streams/out
hw3/target/streams/_global/update/_global/streams/out
hw3/target/streams/_global/updateClassifiers/_global/streams/out
hw3/target/streams/_global/updateClassifiers/_global/streams/update_cache_2.11/inputs
hw3/target/streams/_global/updateClassifiers/_global/streams/update_cache_2.11/output
hw3/target/streams/compile/externalDependencyClasspath/_global/streams/export
hw3/target/streams/compile/managedClasspath/_global/streams/export
hw3/target/streams/compile/scalacOptions/_global/streams/out
hw3/target/streams/compile/unmanagedClasspath/_global/streams/export
hw3/target/streams/compile/unmanagedClasspath/_global/streams/out
hw3/target/streams/compile/unmanagedJars/_global/streams/export
hw3/target/streams/runtime/externalDependencyClasspath/_global/streams/export
hw3/target/streams/runtime/managedClasspath/_global/streams/export
hw3/target/streams/runtime/unmanagedClasspath/_global/streams/export
hw3/target/streams/runtime/unmanagedClasspath/_global/streams/out
hw3/target/streams/runtime/unmanagedJars/_global/streams/export
hw3/target/streams/test/externalDependencyClasspath/_global/streams/export
hw3/target/streams/test/managedClasspath/_global/streams/export
hw3/target/streams/test/unmanagedClasspath/_global/streams/export
hw3/target/streams/test/unmanagedClasspath/_global/streams/out
hw3/target/streams/test/unmanagedJars/_global/streams/export
hw3/target/scala-2.11/classes/task2train.class
hw3/target/scala-2.11/classes/task2train$.class
hw3/target/scala-2.11/classes/task2train$$anonfun$1.class
hw3/target/scala-2.11/classes/task2train$$anonfun$2.class
hw3/target/scala-2.11/classes/task2train$$anonfun$3.class
hw3/target/scala-2.11/classes/task2train$$anonfun$4.class
hw3/target/scala-2.11/classes/task2train$$anonfun$5.class
hw3/target/scala-2.11/classes/task2train$$anonfun$6.class
hw3/target/scala-2.11/classes/task2train$$anonfun$7.class
hw3/target/scala-2.11/classes/task2train$$anonfun$parseReviewList$1.class
hw3/target/scala-2.11/classes/task2train$$anonfun$parseReviewList$2.class
hw3/target/scala-2.11/classes/task2train$$anonfun$parseReviewList$3.class
hw3/target/scala-2.11/classes/task2predict.class
hw3/target/scala-2.11/classes/task2predict$.class
hw3/target/scala-2.11/classes/task2predict$$anonfun$1.class
hw3/target/scala-2.11/classes/task2predict$$anonfun$2.class
hw3/target/scala-2.11/classes/task2predict$$anonfun$3.class
hw3/target/scala-2.11/classes/task2predict$$anonfun$4.class
hw3/target/scala-2.11/classes/task2predict$$anonfun$5.class
hw3/target/scala-2.11/classes/task2predict$$anonfun$6.class
hw3/target/scala-2.11/classes/task2predict$$anonfun$7.class
hw3/target/scala-2.11/classes/task2predict$$anonfun$8.class
hw3/target/scala-2.11/classes/task2predict$$anonfun$9.class
hw3/target/scala-2.11/classes/task2predict$$anonfun$10.class
hw3/target/scala-2.11/classes/task2predict$$anonfun$11.class
hw3/target/scala-2.11/classes/task2predict$$anonfun$writeData$1.class
hw3/target/scala-2.11/classes/task2train$$anonfun$8.class
hw3/target/scala-2.11/classes/task2train$$anonfun$9.class
hw3/target/scala-2.11/classes/task2train$$anonfun$10.class
hw3/target/scala-2.11/classes/task2train$$anonfun$11.class
hw3/target/scala-2.11/classes/task2train$$anonfun$12.class
hw3/target/scala-2.11/classes/task2train$$anonfun$13.class
hw3/target/scala-2.11/classes/task2train$$anonfun$14.class
hw3/target/scala-2.11/classes/task2train$$anonfun$15.class
hw3/target/scala-2.11/classes/task2train$$anonfun$16.class
hw3/target/scala-2.11/classes/task2train$$anonfun$17.class
hw3/target/scala-2.11/classes/task2train$$anonfun$bizList2WordVec$1.class
hw3/target/scala-2.11/classes/task2train$$anonfun$getBizProfile$1.class
hw3/target/scala-2.11/classes/task2train$$anonfun$getBizProfile$2.class
hw3/target/scala-2.11/classes/task2train$$anonfun$getBizProfile$3.class
hw3/target/scala-2.11/classes/task2train$$anonfun$getBizProfile$4.class
hw3/target/scala-2.11/classes/task2train$$anonfun$idfFlatMap$1.class
hw3/target/scala-2.11/classes/task2train$$anonfun$writeData$1.class
hw3/target/scala-2.11/classes/task2train$$anonfun$writeData$2.class
hw3/target/scala-2.11/classes/task3train.class
hw3/target/scala-2.11/classes/task3train$.class
hw3/target/scala-2.11/classes/task3train$$anonfun$1.class
hw3/target/scala-2.11/classes/task3train$$anonfun$2.class
hw3/target/scala-2.11/classes/task3train$$anonfun$3.class
hw3/target/scala-2.11/classes/task3train$$anonfun$4.class
hw3/target/scala-2.11/classes/task3train$$anonfun$5.class
hw3/target/scala-2.11/classes/task3train$$anonfun$6.class
hw3/target/scala-2.11/classes/task3train$$anonfun$7.class
hw3/target/scala-2.11/classes/task3train$$anonfun$genHashFns$1.class
hw3/target/scala-2.11/classes/task3train$$anonfun$genSignatures$1.class
hw3/target/scala-2.11/classes/task3train$$anonfun$genSignatures$1$$anonfun$apply$1.class
hw3/target/scala-2.11/classes/task3train$$anonfun$genUBR$1.class
hw3/target/scala-2.11/classes/task3train$$anonfun$genUBR$1$$anonfun$apply$2.class
hw3/target/scala-2.11/classes/task3train$$anonfun$main$1.class
hw3/target/scala-2.11/classes/task3train$$anonfun$main$1$$anonfun$apply$mcVI$sp$1.class
hw3/target/scala-2.11/classes/task3train$$anonfun$main$1$$anonfun$apply$mcVI$sp$2.class
hw3/target/scala-2.11/classes/task3train$$anonfun$main$1$$anonfun$apply$mcVI$sp$2$$anonfun$apply$3.class
hw3/target/scala-2.11/classes/task3train$$anonfun$main$2.class
hw3/target/scala-2.11/classes/task3train$$anonfun$pearsonSim$1.class
hw3/target/scala-2.11/classes/task3train$$anonfun$pearsonSim$2.class
hw3/target/scala-2.11/classes/task3train$$anonfun$pearsonSim$3.class
hw3/target/scala-2.11/classes/task3train$$anonfun$pearsonSim$4.class
hw3/target/scala-2.11/classes/task3train$$anonfun$pearsonSim$5.class
hw3/target/scala-2.11/classes/task3train$$anonfun$pearsonSim$6.class
hw3/target/scala-2.11/classes/task3train$$anonfun$writeData$1.class
data/sample_train.json
hw3/target/scala-2.11/classes/task3predict.class
hw3/target/scala-2.11/classes/task3predict$.class
hw3/target/scala-2.11/classes/task3predict$$anonfun$1.class
hw3/target/scala-2.11/classes/task3predict$$anonfun$2.class
hw3/target/scala-2.11/classes/task3predict$$anonfun$3.class
hw3/target/scala-2.11/classes/task3predict$$anonfun$4.class
hw3/target/scala-2.11/classes/task3predict$$anonfun$5.class
hw3/target/scala-2.11/classes/task3predict$$anonfun$6.class
hw3/target/scala-2.11/classes/task3predict$$anonfun$7.class
hw3/target/scala-2.11/classes/task3predict$$anonfun$getItemPred$1.class
hw3/target/scala-2.11/classes/task3predict$$anonfun$getItemPred$2.class
hw3/target/scala-2.11/classes/task3predict$$anonfun$getItemPred$3.class
hw3/target/scala-2.11/classes/task3predict$$anonfun$itemBased$1.class
hw3/target/scala-2.11/classes/task3train$$anonfun$8.class
hw3/target/scala-2.11/classes/task3train$$anonfun$9.class
hw3/target/scala-2.11/classes/task3train$$anonfun$10.class
hw3/target/scala-2.11/classes/task3train$$anonfun$11.class
hw3/target/scala-2.11/classes/task3train$$anonfun$genBUR$1.class
hw3/target/scala-2.11/classes/task3train$$anonfun$genBUR$1$$anonfun$apply$3.class
hw3/target/scala-2.11/classes/task3train$$anonfun$itemBased$1.class
hw3/target/scala-2.11/classes/task3train$$anonfun$userBased$1.class
hw3/target/scala-2.11/classes/task3train$$anonfun$userBased$1$$anonfun$apply$mcVI$sp$1.class
hw3/target/scala-2.11/classes/task3train$$anonfun$userBased$1$$anonfun$apply$mcVI$sp$2.class
hw3/target/scala-2.11/classes/task3train$$anonfun$userBased$1$$anonfun$apply$mcVI$sp$2$$anonfun$apply$4.class
hw3/target/scala-2.11/classes/task3train$$anonfun$userBased$2.class
hw3/target/scala-2.11/classes/task3train$$anonfun$writeDataItem$1.class
